body {
  margin: 0px;
  padding: 0px;
}
.container {
  position: relative;

  height: 1080px;
  background-size: cover;
  height: 100vh;

  background: linear-gradient(180deg, #470f0f 0%, #f6d3d3 100%), #ffffff;
}

.navigation {
  height: 80px;
  width: 1536px;
  margin-right: 50px;
  background-color: #2d1313;
}

h1 {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 20px;
  top: 80px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #470f0f;
}
.education {
  position: absolute;
  width: 500px;
  height: 200px;
  left: 20px;
  top: 150px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #040404;
}
h2 {
  position: absolute;
  width: 610px;
  height: 55px;
  left: 20px;
  top: 300px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #470f0f;
}
.skills {
  position: absolute;
  width: 209px;
  height: 54px;
  left: 20px;
  top: 370px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #040404;
}
h3 {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 944px;
  top: 80px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #470f0f;
}
.experience {
  position: absolute;
  width: 500px;
  height: 200px;
  left: 944px;
  top: 150px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
h4 {
  position: absolute;
  width: 158px;
  height: 47px;
  left: 944px;
  top: 300px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #470f0f;
}
.interests {
  position: absolute;
  width: 145px;
  height: 36px;
  left: 944px;
  top: 370px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #040404;
}
a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  top: 20px;
  left: 30px;
  text-decoration: none;
  display: inline-block;
  margin-right: 80px;
  float: right;
  color: whitesmoke;
}
.logo {
  position: absolute;
  width: 93px;
  height: 243px;
  left: 70px;
  top: -80px;

  font-family: Zapfino;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  line-height: 243px;

  color: #ffffff;
}

About:active {
  color: black;
}
