body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;

  height: 1080px;
  background-size: cover;
  height: 100vh;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #2d1313;
}
.navigation {
  height: 80px;
  width: 1537px;
  margin-right: 50px;
  display: inline-block;
  background-color: #2d1313;
}

h1 {
  position: absolute;
  width: 636px;
  height: 201px;
  left: 194px;
  top: 60px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 114px;

  color: #f07a7a;
}

h2 {
  position: absolute;
  width: 700px;
  height: 129px;
  left: 100px;
  top: 190px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 114px;
  text-align: center;
  color: #000000;
}
p {
  position: absolute;
  width: 676px;
  height: 170px;
  left: 70px;
  top: 360px;

  font-family: RUBIK;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  color: #000000;
}
.photo {
  position: absolute;
  width: 300px;
  height: 1000 px;
  left: 944px;
  top: 200px;
  border-radius: 100px;
}
a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  top: 20px;
  left: 30px;
  text-decoration: none;
  display: inline-block;
  margin-right: 80px;
  color: whitesmoke;
  float: right;
}
.button {
  position: absolute;
  width: 276px;
  height: 63px;
  left: 149px;
  top: 570px;

  background: #f07a7a;
  border-radius: 20px;

  animation: move 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: move;
}
@keyframes move {
  0% {
    transform: translateX(500px) translateY(0px);
    background-color: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #2d1313;
  }
}

.logo {
  position: absolute;
  width: 93px;
  height: 243px;
  left: 70px;
  top: -80px;

  font-family: Zapfino;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  line-height: 243px;

  color: #ffffff;
}
a:active {
  color: green;
}
